Source: openmediavault-virtualbox
Section: misc
Priority: optional
Maintainer: Marcel Beck <marcel.beck@mbeck.org>
Build-Depends: debhelper (>= 7 ), subversion, unzip
Standards-Version: 3.9.3
Homepage: http://omv-plugins.org/

Package: openmediavault-virtualbox
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.4) , virtualbox-4.2, makepasswd, wget
Description: OpenMediaVault VirtualBox plugin
 Run VirtualBox virtual machines through OpenMediaVault
