#!/usr/bin/make -f

include ../openmediavault.mk

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep
	svn export http://phpvirtualbox.googlecode.com/svn/trunk/ usr/share/phpvirtualbox
	mv phpvirtualbox_config.php usr/share/phpvirtualbox/config.php
	dh_installdirs
	dh_install
	chmod +x $(CURDIR)/debian/openmediavault-virtualbox/etc/init.d/openmediavault-virtualbox
	chmod +x $(CURDIR)/debian/openmediavault-virtualbox/usr/share/openmediavault/scripts/virtualbox

binary-indep: install omv_clean_scm
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdebconf
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install